<div class="container">
  <form class="form-horizontal">
    <label class="">Email</label>
    <input type="text" name="email" [(ngModel)]="email" class="form-control">
    <label class="">Password</label>
    <input type="password" name="password" [(ngModel)]="password" class="form-control">
    <button type="button" class="btn btn-default" (click)="login()">login</button>
  </form>
</div>